:host {
    font-size: large;    
    font-weight: bold;    
}

div {
    margin: 20px 10px;
    span {
        margin-right: 10px;
    }
}
a {
    padding: 0px 5px 0px 5px;
}

a:visited, a:hover {
    color: blue;
}
